@import '@/styles/style';

// 드롭다운
.dropdownContainer {
  position: relative;
}

// 드롭다운 메뉴
.dropdownMenu {
  position: absolute;
  width: 100%;
  list-style: none;
}

// 드롭다운 모달
.overlayWrapper {
  z-index: z-index(modal-overlay);

  @include fixed-centered-fullscreen;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 70%);
  backdrop-filter: blur(2.5px);
}

.modalContent {
  position: relative;
  z-index: z-index(modal-content);

  overflow-y: auto;

  height: auto;
  padding: 24px;
  border-radius: 16px 16px 0 0;

  @include layout-width;
}

// 드롭다운 아이템
.dropdownItem {
  cursor: pointer;
}
