.dropdownContainer {
  position: relative;
  width: 100%;
}

.dropdownMenu {
  position: absolute;
  width: 100%;
  list-style: none;
}

.dropdownModal {
  position: absolute;

  width: 200px;
  border: 1px solid #ddd;

  background: white;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.dropdownList {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdownItem {
  cursor: pointer;
}
