@import '@/styles/style';

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100vh - 88px);
  padding: 52px 24px;
}

.notFoundWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin: auto;
}

.notFoundText {
  @include subtitle-1;

  color: $sub-gray2;
}

.notFoundSubText {
  @include body-2;

  color: $sub-gray4;
  text-align: center;
}
