@import '@/styles/style';

.selectItemList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  align-self: stretch;
}

.selectItemTitle {
  @include subtitle-2;

  color: $sub-gray2;
}

.selectItemSubtitle {
  @include subtitle-2;

  color: $sub-gray3;
}

.selectItemLayout {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;
  align-self: stretch;

  width: 100%;
  height: 60px;
  padding: 20px;
  border: 1px solid $sub-gray6;
  border-radius: 5px;

  background: $sub_gray8;

  &.selected {
    border-color: $main_mint1;

    g,
    path {
      fill: $main_mint1;
    }

    .selectItemTitle {
      @include subtitle-1;

      color: $main_mint1;
    }
  }

  &.unselected {
    opacity: 0.5;
  }
}
