@import '@/styles/style';

.content {
  position: fixed;
  z-index: z-index(modal-content);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;

  width: 85vw;
  max-width: 500px;
  max-height: 80vh;
  margin: 0 auto;
}
