.stadiumLayout {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding-bottom: 32px;
}

.stadiumMain {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  padding: 0 24px;
}
