@import '@/styles/style';

.stadiumLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  padding-bottom: 32px;
}

.stadiumMain {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  padding: 0 24px;
}

.stadiumContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectItemContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  align-self: stretch;

  height: 100%;
}

.buttonContainer {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  width: 100%;

  button {
    @include subtitle-2;
  }
}

.selectItemSubtitle {
  @include subtitle-2;

  color: $sub-gray3;

  &.select {
    @include subtitle-1;

    color: $main_mint1;
  }
}
