@import '@/styles/style';

// Container
.reviewCardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;

  width: 100%;
  padding: 28px 20px 20px;
  border-radius: 10px;
}

// Header
.reviewCardHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  height: 39px;
}

// UserInfo
.userInfo {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;

  .profile {
    overflow: hidden;
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }

  .textInfo {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2px;
    align-items: flex-start;

    .userName {
      @include single-line-elliptical-text;

      width: 100%;
      max-width: 210px;
      color: $sub-gray4;

      @include body-1;
    }

    .uploadTime {
      @include body-5;

      color: $sub-gray5;
    }
  }
}

// ImageItem
.imageBox {
  overflow: hidden;
  min-width: 120px;
  height: 120px;
  border-radius: 5px;
}

// ImageList
.reviewImageList {
  overflow: auto;
  display: flex;
  gap: 8px;
  align-items: center;

  width: 100%;
  height: 120px;

  // margin: -20px; TODO

  &::-webkit-scrollbar {
    display: none;
  }
}

// ConcertTitle
.concertTitle {
  @include subtitle-4;

  color: $sub-gray2;
}

// ConcertDescription
.description {
  @include body-2;

  color: $sub-gray2;
}

// KeywordItem
.keyword {
  display: flex;
  gap: 4px;
  align-items: center;

  padding: 5px 10px;
  border: 1px solid $sub-gray7;
  border-radius: 50px;

  color: $sub-gray5;

  @include body-4;

  &.primary {
    border: 1px solid $main-mint1;
    color: $main-mint1;
  }
}

// Screening
.screeningContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;

  .statusWrapper {
    display: flex;
    gap: 4px;
    align-items: center;

    .status {
      @include body-4;

      color: $main-mint1;
    }
  }

  .reason {
    display: flex;
    align-items: center;
    justify-content: center;

    @include body-5;

    color: $sub-gray4;

    &::before {
      content: '•';

      display: flex;
      align-items: center;
      justify-content: center;

      width: 18px;
      height: 18px;

      font-size: 16px;
      line-height: 1;
      color: $sub-gray4;
    }
  }
}

// Bookmark
.bookMark {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 24px;
  height: 24px;
}

// LikeButton
.likeBox {
  width: 34px;
  height: 20px;

  .likeButton {
    display: flex;
    gap: 4px;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 4px 0;
  }

  .likeText {
    @include body-1;

    color: $sub-gray7;
  }
}

// MoreButton
.more {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .moreButton {
    width: 24px;
    height: 24px;
  }
}
