@import '@/styles/style';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;

  transition:
    background 0.2s ease,
    color 0.1s ease;
}

// 타입별
.primary {
  border: 1px solid $main-mint1;
  color: $sub-black;
  background-color: $main-mint1;
}

.secondary {
  border: 1px solid $sub-gray6;
  color: $sub-gray5;
  background-color: $sub-gray8;
}

.inactive {
  border: 1px solid $sub-gray5;
  color: $sub-black;
  background-color: $sub-gray5;
}

// 크기별
.small {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.medium {
  width: 100%;
  height: 52px;
  border-radius: 100px;
}
