@import '@/styles/style';

.reviewCheckbox {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;
  border-radius: 50px;
}

.reviewCheckboxText {
  @include body-1;
}

.hiddenCheckbox {
  display: none;
}

.default {
  color: $sub-gray1;
  background: $sub-gray7;
}

.dark {
  color: $sub-gray1;
  background: $main-mint6;
}

.select {
  color: $sub-black;
  background: $main-mint1;
}
