@import '@/styles/style';

.textareaWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 20px 16px;
  border-radius: 5px;

  background-color: $sub-black;
}

.textarea {
  resize: none;

  width: 100%;
  padding: 0;
  border: none;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: $sub-gray3;

  background-color: transparent;
  outline: none;
  outline-color: none;
}

.textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: $sub-gray6;
}

.charCount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .valueLength {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: $sub-gray4;
  }

  .maxLength {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: $sub-gray6;
  }
}
