@import '@/styles/style';

.homeLayout {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 24px 72px;
}

.homeMain {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.svgC {
  z-index: 0;

  @include absolute($top: 30vh, $right: 0);
}

.svgO {
  z-index: 0;

  @include absolute($top: -15vh, $left: 0);
}
