@import '@/styles/style';

.radioArea {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 51px;
  height: 80px;
}

.radioIcon {
  cursor: pointer;

  path {
    fill: $main-mint6;
  }
}

.radioText {
  @include body-4;

  white-space: nowrap;
}

.radioInput {
  display: none;

  &:checked {
    ~ .radioIcon {
      path {
        fill: $main-mint1;
      }
    }

    ~ .radioText {
      color: $main-mint1;
    }
  }
}

.radioSplitter {
  position: absolute;
  top: 24px;
  left: 51px;

  width: 42px;
  height: 3px;

  background-color: $main-mint6;
}
