@import '@/styles/style';

.popupLayout {
  position: fixed;
  z-index: z-index(popup);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: center;

  width: 324px;
  padding: 24px 20px 16px;
  border-radius: 20px;

  background: $sub-white;
}

.popupTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
}

.buttonBox {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.popupTitle {
  @include subtitle-1;

  color: $sub_gray8;
}

.popupSubtitle {
  @include body-1;

  color: $sub_gray6;
  white-space: pre-wrap;
}

@mixin button-text-base {
  @include subtitle-3;

  text-align: center;
}

@mixin button-base {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 48px;
  padding: 8px 0;
  border-radius: 100px;
}

.noButton {
  @include button-base;
  @include button-text-base;

  color: $sub-gray7;
  background: $sub_gray2;
}

.yesButton {
  @include button-base;
  @include button-text-base;

  color: $sub-gray2;
  background: $sub-black;
}
