$main-mint1: #00ffe5;
$main-mint2: #00ccb7;
$main-mint3: #009989;
$main-mint4: #00665c;
$main-mint5: #00332e;
$main-mint6: #1b1c1e;
$sub-gray1: #f8f9fa;
$sub-gray2: #e9ecef;
$sub-gray3: #dee2e6;
$sub-gray4: #ced4da;
$sub-gray5: #adb5bd;
$sub-gray6: #6c757d;
$sub-gray7: #495057;
$sub-gray8: #343a40;
$sub-black: #000;
$sub-white: #fff;
$sub-bg-black: #1b1c1e;
