@import './colors';

@mixin scrollbar($size) {
  overflow: hidden auto;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    opacity: 0.5;
    background-color: $sub-gray5;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: none;
  }
}

@mixin single-line-elliptical-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-elliptical-text($number-of-lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-of-lines;

  text-overflow: ellipsis;
  white-space: pre-wrap;
}
