$modal-min-width: 344px;
$modal-max-width: 640px;
$modal-width: clamp(#{$modal-min-width}, 100%, #{$modal-max-width});

@mixin layout-width {
  width: $modal-width;
  min-width: $modal-min-width;
  max-width: $modal-max-width;
}

@mixin fixed-centered-fullscreen {
  position: fixed;
  top: 0;
  height: 100vh;
  margin: 0 auto;

  @include layout-width;
}
