@use 'sass:map';

$z-index: (
  base: 1,
  popup: 1000,
  dropdown: 300,
  modal-overlay: 900,
  modal-content: 1000,
  toast: 1100,
  tooltip: 1200,
);

@function z-index($key) {
  @return map.get($z-index, $key);
}
