@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  inset: $top $right $bottom $left;
}

.splashLayout {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.mainLogo {
  @include absolute($top: 50%, $left: 50%);

  transform: translate(-50%, -50%);
}

.svgC {
  @include absolute($right: -6vh);
}

.svgO {
  @include absolute($top: 30vh);
}

.svgT {
  @include absolute($right: 0, $bottom: -11vh);
}
