@import '@/styles/style';

.searchFilterContainer {
  overflow: auto hidden;
  display: flex;
  gap: 13px;
  padding: 24px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.searchResultContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.searchResultHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchResultCount {
  @include subtitle-1;

  color: $sub-gray1;
}
