@import '@/styles/style';

.distanceLayout {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: space-between;

  width: 302px;
}

.ratingWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.radioGroup {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: space-between;

  width: 234px;
}
