.singleSectionStepLayout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pageExplanationContainer {
  padding: 0 25px;
}

.stageViewContainer {
  width: 100%;
  height: 392px;
}

.buttonContainer {
  padding: 0 24px;
}
