@import '@/styles/style';

.singleSectionStepLayout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pageExplanationContainer {
  padding: 0 25px;
}

.stageViewContainer {
  position: relative;

  width: 100%;
  height: 390px;
  border: 1px solid $sub-gray8;

  background-color: $sub-black;
}

.buttonContainer {
  padding: 0 24px;
}
