@import '@/styles/style';

.pageExplanation {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 100%;
  min-width: 342px;
  margin-top: 49px;

  .pageTitle {
    @include heading-1;

    color: $sub-gray2;

    span {
      @include heading-1;

      color: $main-mint1;
    }
  }

  .explanation {
    @include body-6;

    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;

    color: $sub-gray3;
  }
}
