@import '@/styles/style';

.layout {
  position: relative;

  overflow: hidden auto;

  min-height: 100dvh;
  margin: 0 auto;

  color: $sub-white;

  background-color: $main-mint6;

  @include layout-width;
}
