@import '@/styles/style';

.layout {
  overflow: hidden auto;

  width: 100%;
  min-width: 344px;
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;

  color: $sub-white;

  background-color: $main-mint6;
}
