@import '@/styles/style';

.layout {
  position: relative;

  overflow: hidden auto;

  min-height: 100dvh;
  margin: 0 auto;

  color: $sub-white;

  background-color: $main-mint6;

  @include layout-width;
}

// not-found page
.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100dvh;
  padding: 52px 24px;
}

.notFoundWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin: auto;
}

.notFoundText {
  @include subtitle-1;

  color: $sub-gray2;
}

.notFoundSubText {
  @include body-2;

  color: $sub-gray4;
  text-align: center;
}
