@import '@/styles/style';

.signinLayout {
  @include fixed-centered-fullscreen;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100svh;
  padding: 0 24px 56px;
}

.closeButton {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 56px;
}

.signinContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;

  width: 100%;
  padding: 0 39px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  align-self: stretch;

  width: 100%;
}

@mixin login-btn-layout {
  @include subtitle-4;

  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 45px;
  border-radius: 500px;
}

.googleButton {
  @include login-btn-layout;

  background-color: #fff;
}

.kakaoButton {
  @include login-btn-layout;

  background: #fde500;
}

.xButton {
  @include login-btn-layout;

  border: 1px solid $sub-gray7;
  color: $sub-gray2;
  background: $sub-black;
}

.problemText {
  @include body-1;

  color: $sub-gray6;
}
