@import '@/styles/style';

.container {
  background-color: $sub-black;
}

.reviewKeywordList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
  align-self: stretch;
}

.cardActions {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  padding: 16px 0 12px;
}
