@import '@/styles/style';

.btnContainer {
  position: sticky;
  z-index: 500;
  bottom: 0;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  height: 92px;
  margin: 0 -23px;
  padding: 0 24px;
  border-top: 1px solid $sub-gray6;

  background: $sub-bg-black;

  .retryText {
    @include subtitle-1;

    padding-left: 10px;
  }

  .finishText {
    @include subtitle-1;
  }
}
