@import '@/styles/style';

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;

  .retryText {
    @include subtitle-1;

    padding-left: 10px;
  }

  .finishText {
    @include subtitle-1;
  }
}
