@import '@/styles/style';

.reviewDropdownTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 44px;
  padding: 10px 12px;
  border-radius: 5px;

  color: $sub-white;

  background-color: $main-mint6;

  &.isOpen {
    border-radius: 5px 5px 0 0;
  }
}

.reviewDropdownText {
  @include subtitle-4;

  &.placeholder {
    color: rgba($sub-white, 0.5);
  }
}

.reviewDropdownMenu {
  z-index: z-index(dropdown);

  box-sizing: border-box;
  max-height: 162px;
  padding: 0 12px 2px;
  border: 2px solid $sub-gray8;
  border-radius: 0 0 5px 5px;

  background-color: $main-mint6;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 50%);

  @include scrollbar(3px);
}

.reviewDropdownItem {
  padding: 10px 12px;
  color: $sub-gray4;

  @include body-2;
}
