@import '@/styles/style';

.overlay {
  position: fixed;
  z-index: z-index(modal-overlay);
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  overflow: hidden;

  height: 100lvh;

  background-color: $sub-black;

  @include layout-width;
}

.content {
  @include fixed-centered-fullscreen;

  left: 50%;
  transform: translateX(-50%);

  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100dvh;
  padding: 0 24px 32px;

  background-color: $sub-black;
}
