@import '@/styles/style';

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 640px;
  height: 100vh;
  padding: 0 30px 24px;

  background: $main-mint6;
  backdrop-filter: blur(2.5px);
}

.header {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 56px;
  padding: 12px 0;

  .subtitle {
    flex-grow: 1;

    @include subtitle-1;

    color: rgb(255 255 255 / 80%);
    text-align: center;
  }
}

@mixin button-base {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.closeButtonSmall {
  @include button-base;

  width: 36px;
  height: 36px;
  background: $main_mint6;
}

.closeButtonLarge {
  @include button-base;

  width: 100%;
  height: 52px;
  padding: 8px 0;
  border: $sub_gray6;
  border-radius: 100px;

  @include subtitle-2;

  color: $sub_gray5;
  text-align: center;

  background: $sub_gray8;
}

.stadiumSection {
  width: 100%;
  height: 400px;
}
