@import '@/styles/style';

.wrapper {
  @include fixed-centered-fullscreen;

  pointer-events: none;
  inset: 0;
  overflow: hidden;
}

.mainC {
  @include absolute($right: 0);
}

.mainO {
  @include absolute($top: 30vh);
}

.mainT {
  @include absolute($right: 0, $bottom: 0);
}

.secondC {
  @include absolute($top: 30vh, $right: 0);
}

.secondO {
  @include absolute($top: -6vh, $left: -1vh);
}
